.MBPlus_finishedTaskBlock {
	background: linear-gradient(134deg, #fee3be, #f8c67d) !important;
	color: #582f1d !important;
	box-shadow: 0 2px 4px #ffeaca !important;
}
.MBPlus_waitingTaskBlock {
	background: linear-gradient(134deg, #00d3ff, #00b7ff) !important;
	color: #fff !important;
	box-shadow: 0 2px 4px #00b7ff !important;
}
.MBPlus_lateTaskBlock {
	background: linear-gradient(134deg, #fa5858, #fe2e2e) !important;
	color: #fff !important;
	box-shadow: 0 2px 4px #fe2e2e !important;
}
.MBPlus_simpleTaskBlock {
	background: linear-gradient(134deg, #16e05a, #16e09d) !important;
	color: #f3f4f7 !important;
	box-shadow: 0 2px 4px #16e09d !important;
}
.fc-day-grid-event .labels-set .label {
	width: 100%;
	padding: 0.3em 0 0.3em !important;
	margin: 3px 0;
	line-height: 1 !important;
	font-weight: 300 !important;
	box-shadow: inset 0px 2px 4px 0px #3f3f3f;
}
.fc-content-skeleton table {
	border-collapse: separate;
	border-spacing: 0 10px;
}
li[event_id] .labels-set .label {
	width: 100%;
	padding: 0.3em 0 0.3em !important;
	margin: 3px 0;
	line-height: 1 !important;
	font-weight: 300 !important;
	box-shadow: inset 0px 2px 4px 0px #3f3f3f;
}
.two-weeks-calendar tbody td.day ul li:not(:last-child) {
	margin-bottom: 10px !important;
}
